---
title: Page Not Found
page_class: home
---
<section> <!-- Title & Header -->
  <h1>404: Page Not Found</h1>
  <p class="error">Sorry about that. It looks like the resource you're looking for has moved or does not exist.</p>
  <p class="error">Perhaps you'd like to <a href="/">head back home</a>, or <a href="/#search-box">give search a whirl.</a></p>
</section>

<section class="about-subfooter">
  <article>
    <a href="/about">
      <h3><span>About</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods is a linked data driven knowledge graph for documenting and interconnecting the techniques and tools of user experience design.</p> 
    </a>
    <a href="/about#how-it-works">
      <h3><span>How It Works</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods uses open source semantic web technologies to describe, model, map, and display the methods used in UX design and make their interconnections and relationships clear.</p>
    </a>
    <a href="/about#contribute">
      <h3><span>Contribute</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>The UX Methods knowledge graph is designed to grow and evolve  with input from the UX community. Learn more about how to get involved&mdash;no matter what your level of technical ability.</p>
    </a>
  </article>
</section>