---
title: UX Methods
rdf_prefix_path: "_data/prefixes.sparql"
page_class: home
---
<section> <!-- Title & Header -->
  <h1>The User Experience Practices Knowledge Graph</h1>
</section>
<section> <!-- Search -->
  <form action="/" method="get">
    <!-- Consider reintegrating autocomplete -->
    <input type="text" id="search-box" name="query" placeholder="E.g. Card Sorting" autocomplete="off">
    <label for="search-box">Search for a method by name, goal, or outcome.</label>
    <input type="submit" value="Search">
  </form>

  <ul id="search-results"></ul>

  <script>
    window.store = {
      {% assign query = '
        SELECT ?iri ?label ?description
        WHERE {
          {?iri rdf:type :Discipline ;
                    rdfs:label ?label;
                    dc:description ?description. }
          UNION
          {?iri rdf:type :Method ;
                    rdfs:label ?label;
                    dc:description ?description. }
        }            
      '%}
      {% assign index = query | sparql_query %}

      {% for resource in index %}
        "{{ resource.iri }}": {
          "title": "{{ resource.label | xml_escape }}",
          "description": {{ resource.description | strip_html | strip_newlines | jsonify }}, 
          "url": "{{ resource.label | replace: " ","" }}.html"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
  </script>
  <script src="/js/lunr.min.js"></script>
  <script src="/js/search.js"></script>
</section>

<section class="home-page-nav"> <!-- Home page nav -->
  <!-- Disciplines -->
  {% assign uxm-discipline = site.pages | where: "template", "discipline" | sort: 'name' %}
  <h2 id="home-disciplines"><span>UX Disciplines</span><span class="chevron">{% include svg/chevron_down.svg %}</span></h2>
  <ul class="menu discipline-cards">
  {% for resource in uxm-discipline %}
    <li>
      <a href="/{{ resource.rdf.page_url }}.html">
        <div class="discipline-img" style="background-image: url(/img/{{ resource | rdf_property: 'rdfs:label' | downcase | slugify }}_375.jpg);background-size: cover; background-position: center;">
        </div>
        <div class="discipline-lede">
          <h3>{{ resource | rdf_property: 'rdfs:label' }}</h3>
          <p>{{ resource | rdf_property: 'dc:description' | truncate: 80 }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>

  <!-- Top Methods -->
  <h2 id="home-methods"><span>Top Methods</span><span class="chevron">{% include svg/chevron_down.svg %}</span></h2>
  {% assign query = '
    SELECT DISTINCT ?method ?label ?description (COUNT(?output) AS ?outputs)
    WHERE {
      ?method rdf:type :Method ;
        rdfs:label ?label ;
        dc:description ?description;
        :produces ?output .
    }
    GROUP BY ?method ?label ?description
    ORDER BY DESC(?outputs) ?method
  '%}
  {% assign topMethods = query | sparql_query %}
  <ul class="menu method-cards">
  {% for resource in topMethods limit: 6 %}
    <li class="method-card dark">
      <a href="{{ resource.label | replace: ' ','' }}.html">
        <h3>{{ resource.label }}</h3>
        <p>{{ resource.description | truncate: 90 }}</p>
        {% assign produces = resource.method | rdf_property: ':produces', nil, true %}
        <ul>
        {% for outcome in produces limit: 2 %}
          <li class="tag">{{ outcome | rdf_property: 'rdfs:label' }}</li>
        {% endfor %}
      </ul>
      </a>
    </li>
  {% endfor %}
  <li class="see-all"><a href="#">See All Methods A-Z</a></li>
  </ul>

  <!-- Top Outcomes -->
  <h2 id="home-outcome"><span>Top Goals & Outcomes</span><span class="chevron">{% include svg/chevron_down.svg %}</span></h2>
  <!-- TBD -->
</section>
<section> <!-- Home page about content -->
  
</section>







