---
title: UX Methods
page_class: home
---
<section> <!-- Title & Header -->
  <h1>The User Experience Practices Knowledge Graph</h1>
  <p class="display">UX Methods is a community powered, linked data driven knowledge graph for learning about the techinques of user experience design.</p>
</section>

<section class="search"> <!-- Search -->
  <form id="site-search" action="/" method="get">
    <!-- Consider reintegrating autocomplete -->
    <input type="text" id="search-box" name="query" placeholder="E.g. Card Sorting" autocomplete="off">
    <label for="search-box">Search for a method by name, goal, or outcome.</label>
    <input type="submit" value="Search">
  </form>

  <ul id="search-results"></ul>

  <!-- Consider moving all of these to just before the </body> tag -->
  <script>
    window.store = {
      {% assign query = '
        SELECT ?iri ?label ?description
        WHERE {
          {?iri rdf:type :Discipline ;
                    rdfs:label ?label;
                    dc:description ?description. }
          UNION
          {?iri rdf:type :Method ;
                    rdfs:label ?label;
                    dc:description ?description. }
        }            
      '%}
      {% assign index = query | sparql_query %}

      {% for resource in index %}
        "{{ resource.iri }}": {
          "title": "{{ resource.label | xml_escape }}",
          "description": {{ resource.description | strip_html | strip_newlines | jsonify }}, 
          "url": "{{ resource.label | replace: " ","" }}.html"
        }
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    };
  </script>
  <script src="/js/lunr.min.js"></script>
  <script src="/js/search.js"></script>
</section>

<section class="home-page-nav"> <!-- Home page nav -->

  <!-- Disciplines -->
  {% assign uxm-discipline = site.pages | where: "template", "discipline" | sort: 'name' %}
  <header class="dropdown-toggle first">
    <h2>UX Disciplines</h2>
    <span class="chevron">{% include svg/chevron_down.svg %}</span>
  </header>
  <ul class="menu discipline-cards">
  {% for resource in uxm-discipline %}
    <li>
      <a href="/{{ resource.rdf.page_url }}.html">
        <div class="discipline-img" style="background-image: url(/img/{{ resource | rdf_property: 'rdfs:label' | downcase | slugify }}_375.jpg);">
        </div>
        <div class="discipline-lede">
          <h3>{{ resource | rdf_property: 'rdfs:label' }}</h3>
          <p>{{ resource | rdf_property: ':shortDescription' | truncate: 80 }}</p>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>

  <!-- Top Methods -->
  <header class="dropdown-toggle">
    <h2>Top Methods</h2>
    <span class="chevron">{% include svg/chevron_down.svg %}</span>
    <a class="see-all-top" href="/methods">Methods A-Z</a>
  </header>
  {% assign query = '
    SELECT DISTINCT ?method ?label ?description (COUNT(?output) AS ?outputs)
    WHERE {
      ?method rdf:type :Method ;
        rdfs:label ?label ;
        dc:description ?description;
        :produces ?output .
    }
    GROUP BY ?method ?label ?description
    ORDER BY DESC(?outputs) ?method
  '%}
  {% assign topMethods = query | sparql_query %}
  <ul class="menu method-cards">
  {% for resource in topMethods limit: 6 %}
    <li class="method-card dark">
      <a href="{{ resource.label | replace: ' ','' }}.html">
        <h3>{{ resource.label }}</h3>
        <p>{{ resource.description | truncate: 90 }}</p>
        {% assign produces = resource.method | rdf_property: ':produces', nil, true %}
        <ul>
        {% for outcome in produces limit: 2 %}
          <li class="tag">{{ outcome | rdf_property: 'rdfs:label' }}</li>
        {% endfor %}
      </ul>
      </a>
    </li>
  {% endfor %}
    <li class="see-all-bottom"><a href="/methods">See All Methods A-Z</a></li>
  </ul>

  <!-- Top Outcomes -->
  <header class="dropdown-toggle">
    <h2>Top Goals & Outcomes</h2>
    <span class="chevron">{% include svg/chevron_down.svg %}</span>
    <a class="see-all-top" href="/outcomes">Outcomes A-Z</a>
  </header>
  {% assign query = '
    SELECT DISTINCT ?outcome ?label ?description (COUNT(?methods) AS ?method_count)
    WHERE {
      ?outcome rdf:type :Outcome ;
        rdfs:label ?label ;
        dc:description ?description;
        :focusOf ?methods .
    }
    GROUP BY ?outcome ?label ?description
    ORDER BY DESC(?method_count) ?outcome
  '%}
  {% assign topOutcomes = query | sparql_query %}
  <ul class="menu method-cards">
  {% for resource in topOutcomes limit: 6 %}
    <li class="method-card dark outcome">
      <a href="{{ resource.label | replace: ' ','' }}.html">
        <h3>{{ resource.label }}</h3>
        <p>{{ resource.description | truncate: 90 }}</p>
      </a>
    </li>
  {% endfor %}
  <li class="see-all-bottom"><a href="/outcomes">See All Outcomes A-Z</a></li>
  </ul>
</section>
<section class="about-subfooter">
  <article>
    <a href="/about">
      <h3><span>About</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods is a linked data driven knowledge graph for documenting and interconnecting the techniques and tools of user experience design.</p> 
    </a>
    <a href="/about#how-it-works">
      <h3><span>How It Works</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods uses open source semantic web technologies to describe, model, map, and display the methods used in UX design and make their interconnections and relationships clear.</p>
    </a>
    <a href="/about#contribute">
      <h3><span>Contribute</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>The UX Methods knowledge graph is designed to grow and evolve  with input from the UX community. Learn more about how to get involved&mdash;no matter what your level of technical ability.</p>
    </a>
  </article>
</section>