---
title: Network Offline
page_class: home
---
<section> <!-- Title & Header -->
  <h1>Network Offline</h1>
  <p class="error">It looks like there's a problem with the connection. Please check to make sure your network is online and try again.</p>
</section>

<section class="about-subfooter">
  <article>
    <a href="/about">
      <h3><span>About</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods is a linked data driven knowledge graph for documenting and interconnecting the techniques and tools of user experience design.</p> 
    </a>
    <a href="/about#how-it-works">
      <h3><span>How It Works</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>UX Methods uses open source semantic web technologies to describe, model, map, and display the methods used in UX design and make their interconnections and relationships clear.</p>
    </a>
    <a href="/about#contribute">
      <h3><span>Contribute</span><span class="chevron">{% include svg/chevron_right.svg %}</span></h3>
      <p>The UX Methods knowledge graph is designed to grow and evolve  with input from the UX community. Learn more about how to get involved&mdash;no matter what your level of technical ability.</p>
    </a>
  </article>
</section>