---
title: UX Method Outcomes A-Z
rdf_prefix_path: "_data/prefixes.sparql"
---
<section>
<h1 class="no-eyebrow">UX Method Outcomes A-Z</h1>
{% assign outcomes = site.pages | sort: 'name' %}
<ul class="method-cards">
{% for resource in outcomes %}
  {% assign resource_class = resource.rdf | rdf_property: 'rdf:type'  %}
  {% assign class = resource_class | split: "/" | last %}
  {% if class == "Insight" or class == "Solution" or class == "Outcome" %}
    <li class="method-card outcome">
      <a href="/{{ resource.rdf.page_url }}.html">
        <h3>{{ resource | rdf_property: 'rdfs:label' }}</h3>
        {% assign shortD = resource | rdf_property: ':shortDescription' %}
        {% if shortD != nil %}
        <p>{{ resource | rdf_property: ':shortDescription' }}</p>
        {% else %}
        <p>{{ resource | rdf_property: 'dc:description' }}</p>
        {% endif %}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
</section>
<section class="contribute">
  <h2>See Something Missing?</h2>
  <p class="display">UX Methods is a collaborative effort and is designed to grow with the UX community.</p>
  <a class="button" href="/submit-method/index.html">Submit a Method</a>
  <p>To recommmend the revision or addition of a new goal or outcome to the knowledge graph, please <a href="">submit a pull request on the UX Methods GitHub repository</a>. </p>
</section>
