<ul class="method-cards">
{% for resource in card_content %}
  {% assign resource_class = resource.rdf | rdf_property: 'rdf:type'  %}
  {% assign class = resource_class | split: "/" | last %}
  {% if class == "Method" %}
    <li class="method-card">
      {%- if resource.render_path != nil %}
      <a href="/{{ resource.render_path }}">
      {%- else %}
      <a href="/{{ resource.rdf.page_url }}.html">
      {%- endif %}
        <h3>{{ resource | rdf_property: 'rdfs:label' }}</h3>
        <p>{{ resource | rdf_property: ':shortDescription' }}</p>
        {%- assign produces = resource | rdf_property: ':produces', nil, true %}
        <ul>
        {%- for outcome in produces limit: 2 %}
          <li class="tag">{{ outcome | rdf_property: 'rdfs:label' }}</li>
        {%- endfor %}
      </ul>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
