<section class="resource">
  <article>
    <section>
      <h1><span>{{ page.rdf | rdf_property: 'rdfs:label' }}</span><span>Outcome</span></h1>
      <p>{{ page.rdf | rdf_property: 'dc:description' }}</p>
    </section>
  </article>
</section>

<section>
  <!-- Outcome methods -->
  {% assign card_content = page.rdf | rdf_inverse_property: ':produces', true %}
  {% if card_content != nil %}
  <h2>Methods</h2>
  <p>UX Methods that target {{ page.rdf | rdf_property: 'rdfs:label' }} include:</p>
  <ul class="method-cards">
  {% for resource in card_content %}
      <li class="method-card">
        {%- if resource.render_path != nil %}
        <a href="/{{ resource.render_path }}">
        {%- else %}
        <a href="/{{ resource.rdf.page_url }}.html">
        {%- endif %}
          <h3>{{ resource | rdf_property: 'rdfs:label' }}</h3>
          <p>{{ resource | rdf_property: ':shortDescription' }}</p>
          {%- assign produces = resource | rdf_property: ':produces', nil, true %}
          <ul>
          {%- for outcome in produces limit: 2 %}
            <li class="tag">{{ outcome | rdf_property: 'rdfs:label' }}</li>
          {%- endfor %}
        </ul>
        </a>
      </li>
  {% endfor %}
  </ul>
  {% endif %}
</section>

<section>
  {%- include web-resource-links.html -%}
</section>


<section class="contribute">
  <h2>See Something Missing?</h2>
  <p class="display">UX Methods is a collaborative effort and is designed to grow with the UX community.</p>
  <button>Add A Method</button>
</section>
