// UX Methods UI Components 

// Method cards
ul.method-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax($card-min,3fr));
  grid-gap: 2rem;
  padding: 0;
  h3 {
    line-height: 24px;
    margin: 0;
  }
  p {
    margin: 8px 0;
  }
  li.method-card:not(.see-all) {
    list-style: none;
    max-width: $card-max;
    padding: 8px;
    background-color: $light-text;
    border-radius: 5px;
    border-left: 8px $primary solid;  
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
    @include card-border(40, 183, 255, .75);
    &.outcome {
      border-left: 8px $secondary solid;
      @include card-border(88, 113, 126, .75);  
      }
    &.dark {
      background-color: $card-background;
      border-left: 8px $primary-dark-bg solid;
      h3, p {
        color: $light-text;
      }
      h3 {
        //font-size: 1.2rem;
      }
      .tag {
        color: $gray-text-dark-bg;
      }
      &.outcome {
        border-left: 8px $secondary-dark-bg solid;  
        @include card-border(86, 114, 128);
      }
      @include card-border(43, 182, 252);
    }
  }
  .see-all-bottom {
    text-decoration: underline;
    list-style: none;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 2rem;
    padding-right: 1rem;
    a, a:visited {
      color: $light-text;
    }
    @include breakpoint(medium) {
      display: none;
    }
  }
  a {
    text-decoration: none;
  }
  ul {
    display: flex;
    padding: 0;
    li {
      list-style: none;
      width: calc(100% / 2);
    }
  }
}
// Discipline Cards
ul.discipline-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax($card-min,3fr));
  grid-gap: 2rem;
  padding: 0;
  h3, p {
    color: $light-text;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 24px;
    margin: 0;
  }
  p {
    margin: 8px 4px 0 0;
    //line-height: 20px;
  }
  a {
    display: flex;
    @include breakpoint(med-lg) {
      flex-direction: column;
    }
  }
  .discipline-img {
    flex: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-position: center;
    background-size: cover;
    @include breakpoint(med-lg) {
      flex: 0 0 180px;
      border-radius: 5px 5px 0 0;
    }
  }
  .discipline-lede {
    flex: 2;
    padding: 8px;
    @include breakpoint(med-lg) {
      padding: 16px 8px 18px 12px;
    }
  }
  li {
    list-style: none;
    max-width: $card-max;
    background-color: $card-background;
    border-radius: 5px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(43, 182, 252, 0);
    transition: border 0.25s ease-out;
    &:hover {
        border: 2px solid rgba(43, 182, 252, .8);
        transition: border 0.25s ease-in;
    }
  }
}

// Contribute CTA
section.contribute {
  background-color: $card-background;
  color: $light-text;
  text-align: center;
  padding: 3rem 16px;
  margin: 0;
  max-width: 100%;
  * {
    margin: 0 auto;
    max-width: 30rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  p.display {
    margin-bottom: 2rem;
  }
  button, a.button {    // this can be cleaned up to eliminate button sytles, once buttons have all been removed.
    background-color: $primary;
    color: $light-text;
    padding: 12px;
    margin-bottom: 2rem;
    width: 80%;
    border-radius: 5px;
    border: none;
    font-family: $header;
    font-weight: 600;
    font-size: 1.25rem;
    @include breakpoint(medium) {
      width: 16rem;
    }
  }
  a.button {
    text-decoration: none;
    display: inline-block;
  }
  a {
    color: $light-text;
  }
}