// UX Methods UI Layout

// layout, such as the container and any grid systems: header, footer, navigation and the grid system.

body {
  background-color: $background;
}
nav {
  background-color: $card-background;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  .title {
    color: $light-text;
    font-family: $header;
    font-weight: 800;
    font-size: 1.5rem;
    text-decoration: none;
    align-self: center;
    margin-left: 16px;
  }
  // Mobile navigation menu
  #openMenu {
    align-self: center;
    margin-right: 5px;
    background-color: inherit;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 0; /* change this with JavaScript */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $card-background;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.25s ease-out;
    color: $light-text;
    font-family: $header;
    ul {
      padding-inline-start: 0;
      margin-left: 400px;
      opacity: 0;
      &#navint {
        padding-bottom: 3rem;
      }
      &.open {
        margin-left: 0px;
        opacity: 1;
        transition: margin-left, opacity .3s ease-in .05s;
      }
    }
    li {
      list-style-type: none;
      font-size: 18px;
      padding: 16px 8px 8px 48px;
      font-family: $body;
      &.dropdown-toggle, &.search {
        font-size: 20px;
        font-family: $header;
      }
      &:last-of-type {
        padding-bottom: 1.5rem;
      }
    }
    li.dropdown-toggle {
      display: flex;
      justify-content: space-between;
      padding-right: 1.5rem;
    }
    a {
      text-decoration: none;      
      color: $light-text;
    }
    .closebtn {
      position: absolute;
      background-color: inherit;
      border: none;
      color: $light-text;
      top: 17px;
      right: 5px;
    }
    .search {
      svg {
        padding-right: .5rem;
      }
    }
    .dropdown-toggle + ul.submenu {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.25s ease-in;
      margin-left: 0px;
      opacity: 1;
      li {
        font-family: $body;
        padding-left: 80px;
        margin-left: 0;
      }
    }
    .dropdown-toggle.show + ul.submenu {
      max-height: 400px;
    }
  }
}
// Dropdown animations
  .dropdown-toggle span svg {
    transform: rotate(0deg);
    transition: transform 0.2s ease-out;
  }
  .dropdown-toggle.show span svg {
    transform: rotate(180deg);
    transition: transform 0.25s ease-in;
  }
main {
  padding-top: 60px;
}
section {
  padding:1.5rem 1rem;
  margin: 0 auto;
  max-width: $max-width;
}
footer {
  background-color: $dark-background;
  color: $light-text;
  padding: 24px 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  h2 {
    margin-top: 2rem;
  }
  .licensing {
    // color: $gray-text-dark-bg;
  }
}