// UX Methods Page Styes

main.home {
  background-color: $dark-background;
  color: $light-text;
  h1 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    padding: 1rem 0 3rem;
    @include breakpoint(medium) {
      padding: 5rem 0 2rem;
      font-size: 2.75rem;
      font-weight: 600;
    }
  }
  p.display {
    display: none;
    margin: 0 auto;
    width: 45rem;
    text-align: center;
    padding-bottom: 3rem;
    @include breakpoint(med-lg) {
      display: block;
    }
  }
  .search {
    form {
      @include breakpoint(medium) {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2rem;
      }
    }
    input[type=text] {
      border: none;
      border-bottom: 2px solid $primary;
      background-color: $dark-background;
      color: $light-text;
      font-size: 1.5rem;
      width: 100%;
      padding: 0;
      box-sizing: border-box;
      border-radius: 0;
      margin: 0;
      &::placeholder {
        color: $light-gray-text;
      } 
      &:focus {
        outline: none; //rework this for accessibility; cf. answerthepublic
        &::placeholder {
          opacity: 0;
          transition: opacity 0.3s;
          -webkit-transition: opacity 0.3s; 
        } 
      }
      @include breakpoint(medium) {
        grid-area: 1 / 1 / 1 / 4;
      }
    }
    #search-box {
      scroll-margin-top: 150px;
    }
    label {
      display: inline-block;
      color: $light-gray-text;
      padding: 8px 0 24px;
      @include breakpoint(medium) {
        grid-area: 2 / 1 / 2 / 4;
      }
    }
    input[type=submit] {       // DRY this styling out
      background-color: $primary-dark-bg;
      color: $light-text;
      padding: 14px;
      margin-bottom: 1.5rem;
      width: 100%;
      border-radius: 5px;
      border: none;
      font-family: $header;
      font-weight: 600;
      font-size: 1.5rem;
      @include breakpoint(medium) {
        grid-area: 1 / 5 / 1 / 4;
        margin-bottom: 0;
      }
    }
    ul#search-results {
      padding-inline-start: 0;
      padding: 0 16px;
      background-color: $card-background;
      margin: 1rem -16px;
      li {
        list-style: none;
        &.results-count {
          padding: 1.5rem 0 1rem;
        }
        &.no-results {
          padding: 1.5rem 0;
        }
      }
      h3 {
        color: $light-text;
        text-decoration: underline;
      }
      .close-icon {
        display: flex;
        justify-content: center;
        padding: 2rem 0 3rem;
        a {
          display: inline-block;
          line-height: 0;
          background:  $primary-dark-bg;
          padding: 1.5rem;
          border-radius: 100px;
        }
      }
    }
  }
  .home-page-nav {
    padding-bottom: 6rem;    
    header.dropdown-toggle {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0 0 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid $light-text;
      h2 {
        font-size: 1.375rem;
        font-weight: 600;
      }
      .chevron {
        padding-right: .5rem;
      }
      .see-all-top {
        display: none;
        color: $light-text;
        font-size: 1rem;
        @include breakpoint(medium) {
          display: inline-block;
        }
      }
      @include breakpoint(medium) {
        &.first {
          margin-top: 4rem;
        }
        margin-top: 8rem;
        margin-bottom: 0;
        border-bottom: none;
        h2 {
          font-size: 1.25rem;
        }
        .chevron {
          display: none;
        }
      }
    }
    ul.menu {
      margin: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s ease-out;
      @include breakpoint(medium) {
        max-height: 100%;
      }
    }
    .show + ul {
      max-height: 1200px; // 75 rem?
      padding-bottom: 1rem;
      transition: max-height 0.25s ease-in;
    }
    // height: 840, disciplines (6); 1026, methods (6 + see all)
  }
}
main.discipline {
  .resource {
    p.source {
      text-align: right;
      span {
        padding-left: .5rem;
      }
      svg {
        height: 14px;
        width: 14px;
      }
    }
  }
  @media (max-width: map-get($breakpoints, medium) - 1) {
    section:first-of-type {
      padding: 0;
      margin-top: 0
    }
    h1 {
      padding: 1rem 1rem 0;
    }
    article p {
      
      padding: 0 1rem;
    }
  }
  @include breakpoint(med-lg) {
    article.resource {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2rem;
    }
    img {
      border-radius: 2px;
    }
  }

}
main.about {
  padding-bottom: 6rem;
  figure {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  h2 {
    margin-top: 4rem;
  }
  #how-it-works, #contribute {
    scroll-margin-top: 80px;
  }
}
