// UX Methods Typography

body {
  font-family: $body;
  font-size: 16px;
  @include breakpoint (medium) {
    //font-size: 18px;
  }
}
h1, h2, h3, h4, h4 {
  font-family: $header;
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}
h1 {
  font-size: 40px;
  line-height: 48px;  
  display: flex;
  flex-direction: column-reverse;
  span:nth-child(2) {
    font-family: $header;
    color: $card-background;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
    padding-bottom: .5rem;
  }
  &.no-eyebrow {
    padding-top: 1.3rem;
  } 
}
h2 {
  font-size: 28px;
  line-height: 32px;
  clear: left; // for img on discipline page
}
h3 {
  font-size: 20px;
  line-height: 40px;  
  margin-bottom: -8px;
}
p {
  font-family: $body;
  //font-size: 16px;
  line-height: 1.5;  
  margin-top: 8px;
  &.display {
    font-size: 20px;
    line-height: 1.2;    
  }
  &.fine-print {
    font-size: small;
    color: $gray-text-dark-bg;
    margin-bottom: 0;
    a, a:visited {
      color: $gray-text-dark-bg;;
    }
    a:hover {
      color: $primary-text-link;
      transition: color 0.25s ease-out;
    }
  }
  a, a:visited {
    // color: $primary-text-link;
    text-decoration: underline;
    // text-decoration-color: $background;
  }
  a:hover {
      // text-decoration-color: $primary-text-link;
      // transition: text-decoration-color 0.25s ease-out;
      color: $primary-text-link;
      transition: color 0.25s ease-out;
    }
}
li, ol {
  line-height: 1.5;
}
a, a:visited {
  color: $text;
  text-decoration: underline;
}
a:hover {
  color: $primary-text-link;
  transition: color 0.25s ease-out;
}
.method-card .tag {
  font-family: $header;
  color: $gray-text;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
ol.steps {
  padding-left: 1rem;
  li {
    margin-bottom: .5rem;
  }
}
ul.detail-links {
  padding: 0;
  li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    width: 49%;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
ul.discipline-links, ul.web-resource-links {
  padding: 0;
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 3rem;
  }
  li {
    list-style: none;
    font-weight: 500;
    margin-bottom: 1rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoint(medium) {
        display: inline-block;
        span:nth-child(2) {
          padding-left: 2rem;
        }
      }
    }

  }
  ul {
    padding-left: 0;
    li {
      font-weight: 400;
      display: inline-block;
    }
  }
}