// UX Methods Typography

body {
  font-family: $body;
  font-size: 16px;
}
h1, h2, h3, h4, h4 {
  font-family: $header;
  font-weight: bold;
  margin: 0;
  a {
    text-decoration: none;
  }
}
h1 {
  font-size: 40px;
  line-height: 48px;  
  display: flex;
  flex-direction: column-reverse;
  span:nth-child(2) {
    font-family: $header;
    color: $card-background;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 1;
    padding-bottom: .5rem;
  }
  &.no-eyebrow {
    padding-top: 1.3rem;
  } 
}
h2 {
  font-size: 28px;
  line-height: 32px;  
}
h3 {
  font-size: 20px;
  line-height: 40px;  
  margin-bottom: -8px;
}
p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.5;  
  margin-top: 8px;
}
li, ol {
  line-height: 1.5;
}
a, a:visited {
  color: $text;
}
.method-card .tag {
  font-family: $header;
  color: $gray-text;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
ol.steps {
  padding-left: 1rem;
  li {
    margin-bottom: .5rem;
  }
}
ul.detail-links {
  padding: 0;
  li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    width: 49%;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
ul.discipline-links, ul.web-resource-links {
  padding: 0;
  li {
    list-style: none;
    font-weight: 500;
    margin-bottom: 1rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  ul {
    padding-left: 0;
    li {
      font-weight: 400;
      display: inline-block;
    }
  }
}