// UX Methods Sass variables

// Typography

$header: 'Nunito Sans', Arial, sans-serif;
$body: 'Hind', Arial, sans-serif;

// Colors 
$dark-background: #151B1E;
$card-background: #182125;
$background: #F3F5F6;
$text: #151B1E;
$light-text: #F9FAFB;
$gray-text: #606F76;
$gray-text-dark-bg: #94A2A8;
$primary: #28B7FF;
$primary-dark-bg: #2BB6FC;
