---
rdf_prefix_path: "_data/prefixes.sparql"
---
<!DOCTYPE html>
<html lang="en-US">
{%- include head.html -%}
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRLDV3L"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <nav>
    <a href="/" class="title">{{ site.title }}</a>
    <button id="openMenu" type="button" >{% include svg/menu.svg %}</button>
    <!-- look into ARIA for these buttons/toggles -->
    <!-- aria-label="Open site menu" aria-expanded="false" aria-controls="offCanvas" -->
    <div id="globalNav" class="sidenav"> 
      <button id="closeMenu" class="closebtn" type="button">{% include svg/close.svg %}</button>
      <ul id="navint">
        <li class="search"><a href="/index.html#search-box">{% include svg/search.svg %}Search</a></li>
        <li class="dropdown-toggle">UX Disciplines<span>{% include svg/chevron_down.svg %}</span></li>
          <ul class="submenu">
            {% assign uxm-discipline = site.pages | where: "template", "discipline" | sort: 'name' %}
            {% for resource in uxm-discipline %}
              <li>
                <a href="/{{ resource.rdf.page_url }}.html">{{ resource | rdf_property: 'rdfs:label' }}</a>
              </li>
            {% endfor %}
          </ul>
        <li class="dropdown-toggle">Top Methods<span>{% include svg/chevron_down.svg %}</span></li>
          <ul class="submenu">
          {% assign query = '
            SELECT DISTINCT ?method ?label (COUNT(?output) AS ?outputs)
            WHERE {
              ?method rdf:type :Method ;
                rdfs:label ?label ;
                :produces ?output .
            }
            GROUP BY ?method ?label
            ORDER BY DESC(?outputs) ?method
          '%}
          {% assign topMethods = query | sparql_query %}
          {% for resource in topMethods limit: 6 %}
            <li>
              <a href="{{ resource.label | replace: ' ','' }}.html">{{ resource.label }}</a>
            </li>
          {% endfor %}
          <li><a href="/methods">See All Methods A-Z</a></li>
          </ul>
        <li class="dropdown-toggle">Top Goals & Outcomes<span>{% include svg/chevron_down.svg %}</span></li>
        <ul class="submenu">


          {% assign query = '
            SELECT DISTINCT ?outcome ?label (COUNT(?methods) AS ?method_count)
            WHERE {
              ?outcome rdf:type :Outcome ;
                rdfs:label ?label ;
                :focusOf ?methods .
            }
            GROUP BY ?outcome ?label
            ORDER BY DESC(?method_count) ?outcome
          '%}
          {% assign topOutcomes = query | sparql_query %}
          {% for resource in topOutcomes limit: 6 %}
            <li>
              <a href="{{ resource.label | replace: ' ','' }}.html">{{ resource.label }}</a>
            </li>
          {% endfor %}
            <li><a href="/outcomes">See All Outcomes A-Z</a></li>
        </ul>
<!--         <li class="dropdown-toggle">Recently Viewed<span>&plus;</span></li>
        <ul class="submenu">
          <li><a href="#">Information Architecture</a></li>
          <li><a href="#">Content Strategy</a></li>
          <li><a href="#">User Research</a></li>
          <li><a href="#">Interaction Design</a></li>
          <li><a href="#">Usability Testing</a></li>
        </ul> -->
        <li><a href="/about">About</a></li>
        <li><a href="/about#how-it-works">How It Works</a></li>
        <li><a href="/about#contribute">Contribute</a></li>
      </ul>
    </div>

    <!-- Desktop Nav -->
    <!-- Consider implementing a hover approach. Be sure to accommodate touch: https://www.prowebdesign.ro/how-to-deal-with-hover-on-touch-screen-devices/ -->
    <div class="navbar"> 
      <ul>
        <li><span class="wide-dropdown-toggle">UX Disciplines {% include svg/chevron_down.svg %}</span>
          <ul class="submenu">
            <!-- uxm-discipline defined above -->
            {% for resource in uxm-discipline %}
              <li>
                <a href="/{{ resource.rdf.page_url }}.html">{{ resource | rdf_property: 'rdfs:label' }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li><span class="wide-dropdown-toggle">Top Methods {% include svg/chevron_down.svg %}</span>
          <ul class="submenu">
          <!-- topMethods defined above -->
          {% for resource in topMethods limit: 6 %}
            <li>
              <a href="/{{ resource.label | replace: ' ','' }}.html">{{ resource.label }}</a>
            </li>
          {% endfor %}
          <li><a href="/methods">See All Methods A-Z</a></li>
          </ul>
        </li>


        <li><span class="wide-dropdown-toggle">Top Goals & Outcomes {% include svg/chevron_down.svg %}</span>
          <ul class="submenu">
          <!-- topOutcomes defined above -->
          {% for resource in topOutcomes limit: 6 %}
            <li>
              <a href="/{{ resource.label | replace: ' ','' }}.html">{{ resource.label }}</a>
            </li>
          {% endfor %}
            <li><a href="/outcomes">See All Outcomes A-Z</a></li>
          </ul>
        </li>
        <li class="about"><a href="/about">About</a></li>
        <li class="search"><a href="/index.html#search-box">{% include svg/search.svg %}</a></li>
      </ul>
    </div>
  </nav>

  <main {% if page.page_class %}class="{{ page.page_class }}"{% endif %}>
    {{ content }}
  </main>
  {%- include footer.html -%}
</body>
<script src="/js/app.js"></script>
</html>


