---
layout: default
rdf_prefix_path: "_data/prefixes.sparql"
---
<article>
  <section>
    <span class="resource-type">Method</span>
    <h1>{{ page.rdf | rdf_property: 'rdfs:label' }}</h1>
    <p>{{ page.rdf | rdf_property: 'dc:description' }}</p>

    <!-- Method steps -->
    {% assign steps = page.rdf | rdf_property: ':steps' | newline_to_br | strip_newlines | split: '<br />' %}
    {% if steps.size > 0 %}
    <h2>Steps</h2>
    <ol class="steps">
      {% for step in steps %}
      <li>{{ step }}</li>
      {% endfor %}
    </ol>
    {% endif %}

    <!-- Method inputs — this will need to be a SPARQL query -->
    {% assign inputs = page.rdf | rdf_property: ':inputProvidedBy', nil, true %}
    {% if inputs != nil %}
    <h3>Inputs</h3>
    <p>To use this method, it’s usually helpful if you have information about:</p>
    <ul class="detail-links">
    {% for input in inputs %}
      <li><a href="/{{ input.render_path }}">{{ input | rdf_property: 'rdfs:label' }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- Method outcomes -->
    {% assign outcomes = page.rdf | rdf_property: ':produces', nil, true %}
    {% if outcomes != nil %}
    <h3>Outcomes</h3>
    <p>{{ page.rdf | rdf_property: 'rdfs:label' }} typically produces insight and solutions related to:</p>
    <ul class="detail-links">
    {% for outcome in outcomes %}
        <li><a href="/{{ outcome.render_path }}">{{ outcome | rdf_property: 'rdfs:label' }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- Method disciplines -->  
    {% assign query = '
      SELECT DISTINCT ?discipline_label
      WHERE {
        ?resourceUri :produces ?outcome .
         ?discipline :focusesOn ?outcome ;
                 rdfs:label ?discipline_label .      
      }
      '%}

    {% assign disciplines = page.rdf | sparql_query: query %}

    <h3>Disciplines</h3>
    <p>The {{ page.rdf | rdf_property: 'rdfs:label' }} method is often used to accomplish the user experience goals and outputs associated with these disciplines:</p>

    <ul class="discipline-links">
    {% for discipline in disciplines %}
        <li><a href="/{{ discipline.discipline_label | replace: ' ','' }}.html">{{ discipline.discipline_label }}</a></li>
    {% endfor %}
    </ul>
  </section>
  <section>
    <!-- Next steps -->
    {% assign card_content = page.rdf | rdf_property: ':providesInputFor', nil, true %}
    {% if card_content != nil %}
    <h2>Next Steps</h2>
    <ul class="method-cards">
      {%- include method-card.html -%}
    </ul>
    {% endif %}
  </section>
  <section>
    <!-- I can remove "describedBy" from the ontology and rdf_inverse_property for this instead — see outcome.html -->
    {% assign resources = page.rdf | rdf_property: ':describedBy', nil, true %}
    {% if resources != nil %}
    <h2>{{ page.rdf | rdf_property: 'rdfs:label' }} Web Resources</h2>
    <ul>
    {% for resource in resources %}
        <li>{{ resource | rdf_property: 'dc:title' }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </section>
</article>
