---
layout: default
rdf_prefix_path: "_data/prefixes.sparql"
---
<section class="resource">
  <article>
    <section>
      <h1><span>{{ page.rdf | rdf_property: 'rdfs:label' }}</span><span>Method</span></h1>
      {% assign description_pars = page.rdf | rdf_property: 'dc:description' | newline_to_br | strip_newlines | split: '<br />' %}
      {% for par in description_pars %}
      <p>{{ par }}</p>
      {% endfor %}
      <p class="source"><a href="{{ page.rdf | rdf_property: 'dc:source' }}">{{ page.rdf | rdf_property: 'dc:publisher' }}<span>{% include svg/external_link.svg %}</span></a></p>
    </section>
    <!-- Method steps -->
    <section>
      {% assign steps = page.rdf | rdf_property: ':steps' | newline_to_br | strip_newlines | split: '<br />' %}
      {% if steps.size > 0 %}
      <h2>Steps</h2>
      <ol class="steps">
        {% for step in steps %}
        <li>{{ step | replace: "\", "" }}</li>
        {% endfor %}
      </ol>
      {% endif %}
    </section>
  </article>

  <aside>
    <!-- Method inputs — this will need to be a SPARQL query -->
    {% assign inputs = page.rdf | rdf_property: ':inputProvidedBy', nil, true %}
    {% if inputs != nil %}
    <h3>Inputs</h3>
    <p>To use this method, it’s usually helpful if you have information about:</p>
    <ul class="detail-links">
    {% for input in inputs %}
      <li><a href="/{{ input.render_path }}">{{ input | rdf_property: 'rdfs:label' }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- Method outcomes -->
    {% assign outcomes = page.rdf | rdf_property: ':produces', nil, true %}
    {% if outcomes != nil %}
    <h3>Outcomes</h3>
    <p>{{ page.rdf | rdf_property: 'rdfs:label' }} typically produces insight and solutions related to:</p>
    <ul class="detail-links">
    {% for outcome in outcomes %}
        <li><a href="/{{ outcome.render_path }}">{{ outcome | rdf_property: 'rdfs:label' }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <!-- Method disciplines -->  
    {% assign query = '
      SELECT DISTINCT ?discipline_label
      WHERE {
        ?resourceUri :produces ?outcome .
         ?discipline :focusesOn ?outcome ;
                 rdfs:label ?discipline_label .      
      }
      '%}
    {% assign disciplines = page.rdf | sparql_query: query %}

    <h3>Disciplines</h3>
    <p>The {{ page.rdf | rdf_property: 'rdfs:label' }} method is often used to accomplish the user experience goals and outputs associated with these disciplines:</p>

    <ul class="discipline-links">
    {% for discipline in disciplines %}
        <li><a href="/{{ discipline.discipline_label | replace: ' ','' }}.html">{{ discipline.discipline_label }}</a></li>
    {% endfor %}
    </ul>
  </aside>
</section>

<!-- Next steps -->
{% assign card_content = page.rdf | rdf_property: ':providesInputFor', nil, true %}
{% if card_content != nil %}
<section>    
  <h2>Next Steps</h2>
  {%- include method-card.html -%}
</section>    
{% endif %}

<section>
  {%- include web-resource-links.html -%}
</section>

<section class="contribute">
  <h2>See Something Missing?</h2>
  <p class="display">UX Methods is a collaborative effort and is designed to grow with the UX community.</p>
  <a class="button" href="/improve-method/index.html?method={{ page.rdf | rdf_property: 'rdfs:label' | url_encode }}">Improve This Method</a>
</section>