---
rdf_prefix_path: "_data/prefixes.sparql"
---
<h1>{{ page.rdf | rdf_property: "foaf:name" }}</h1>
{{ page.rdf }}
<dl>
    <dt>Age:</dt>
    <dd>{{ page.rdf | rdf_property: "foaf:age" }}</dd>
</dl>
<h2>Siblings</h2>
<ul>
    {% capture siblings_query %}
    SELECT ?sibling WHERE {
        {
            ?resourceUri fam:hasBrother ?sibling
        } UNION {
            ?resourceUri fam:hasSister ?sibling
        }
    }
    {% endcapture %}
    {% assign siblings = page.rdf | sparql_query: siblings_query %}
    {% for row in siblings %}
    <li><a href="{{ row.sibling.page_url }}.html">{{ row.sibling | rdf_property: "foaf:name" }}</a></li>
    {% endfor %}
</ul>
<h2>Spouse</h2>
<ul>
    {% capture spouse_query %}
    SELECT ?spouse WHERE {
        {
            ?resourceUri fam:hasSpouse ?spouse
        } 
    }
    {% endcapture %}
    {% assign spouses = page.rdf | sparql_query: spouse_query %}
    {% for row in spouses %}
    <li><a href="{{ row.spouse.page_url }}.html">{{ row.spouse | rdf_property: "foaf:name" }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% capture person_query %}
    SELECT ?person ?name WHERE {
        {
            ?person rdf:type foaf:Person;
                    foaf:name ?name
        } 
    }
    {% endcapture %}
    {% assign people = page.rdf | sparql_query: person_query %}
    {% for individual in people %}
    <li><a href="{{ individual.person.page_url }}.html">{{ individual.person }}</a> {{ individual.name }}</li>
    {% endfor %}
</ul>